<html>
    <head>
        <title>Senha incorreta</title>
        <script>
            confirm("Senhar incorreta")
            window.location.replace("/room/<%= roomId %>")
        </script>
    </head>
</html>